<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/user_form.css}" rel="stylesheet" />

    <title>Editar</title>
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="text-center mb-4">
            <h2>[[${title}]]</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form th:action="@{/user/save}" method="post" th:object="${user}"
                    class="border border-secondary rounded p-3">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" th:field="*{email}" class="form-control" id="email" required minlength="8"
                            maxlength="45" />
                    </div>
                    <div class="form-group">
                        <label for="firstname">Nome</label>
                        <input type="text" th:field="*{firstname}" class="form-control" id="firstname" required
                            minlength="2" maxlength="45" />
                    </div>
                    <div class="form-group">
                        <label for="lastname">Último Nome</label>
                        <input type="text" th:field="*{lastname}" class="form-control" id="lastname" required
                            minlength="2" maxlength="45" />
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" th:field="*{password}" class="form-control" id="password" required
                            minlength="5" maxlength="45" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary m-2">Salvar</button>
                        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        function cancelForm() {
            window.location = "[[@{/user}]]"
        }
    </script>

</body>

</html>